.label {
    width: 20%;
    height: 50px;
    border: 1px solid #dee2e6;
    line-height: 50px;
    background: white;
}

.checked {
    background: lightblue !important;
}

@media all and (max-width:768px) {
    .label {
        display: block;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 1em;
    }
}