<script type="text/javascript">
    function openAdd() {
        $('#modal').load('/add_user');
    }
</script>

<h2><b>종합</b></h2><hr>
<div style='text-align: right;'><span>※ 순위는 <b>평균 등수</b>와 <b>평균 점수</b>로 측정됩니다.</span></div>
<table class='table table-striped' style='text-align: center;'>
    <thead class='thead-dark'>
        <tr>
            <th width=10%>등수</th>
            <th>닉네임</th>
            <th width=10%>판수</th>
            <th width=10%>평균점수</th>
            <th width=10%>평균등수</th>
            <th width=10%>1등</th>
            <th width=10%>2등</th>
            <th width=10%>3등</th>
            <th width=10%>4등</th>
        </tr>
    </thead>
    <tbody>
        {% for i, v in enumerate(users) %}
        <tr>
            <td> {{ i + 1 }} </td>
            <td> {{ v['UserName'] }} </td>
            <td> {{ v['Amount'] }} </td>
            <td> {{ round(v['AverageScore'], 1) }} </td>
            <td> {{ round(v['AverageRank'], 1) }} </td>
            <td> {{ v['Rank_1'] }} </td>
            <td> {{ v['Rank_2'] }} </td>
            <td> {{ v['Rank_3'] }} </td>
            <td> {{ v['Rank_4'] }} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<button style='float:right; width: 10em;' type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="openAdd();">신규 가입</button>

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal body -->
            <div class="modal-body" id='modal'>
            </div>
        </div>
    </div>
</div>